<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EduSkills Academy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.ico" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eStartup - v4.5.0
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="index.html"><span>EduSkills</span>Academy</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="../static/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#courses">Courses</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= --> 
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1><b>EduSkills Academy</b> </h1>
      <h2><b>Learn to Lead...</b> </h2>
      <img src="../static/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="#get-started" class="btn-get-started scrollto">Get Started</a>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2><strong>Why choose Us ?</strong></h2>
          <p class="separator"></p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="../static/img/svg/cloud.svg" alt="img">
              <h4>Mission driven</h4>
              <p>Started with a little but definite view to change technology education is being served in decade old syllabus lead universities.</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="../static/img/svg/planet.svg" alt="img">
              <h4> Learning friendly approach</h4>
              <p>An Unique approach to learning only the practical skills while leaving the unnecessary theory.</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="../static/img/svg/asteroid.svg" alt="img">
              <h4>Cost friendly</h4>
              <p>The view is to make it as open, globally available through the internet
                and as affordable as possible as we aim to bring it to as many as we can.

            </div>
          </div>

        </div>
      </div>

    </section><!-- End Get Started Section -->

    <!--
 ======= About Us Section =======
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="../static/img/about-img.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span>eStartup</span>UI Design Mobile </h2>
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>Creative Design</li>
                <li><i class="vi bi-chevron-right"></i>Retina Ready</li>
                <li><i class="vi bi-chevron-right"></i>Easy to Use</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section>
    ------ End About Us Section --------

   

     ======= Features Section =======
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Course Features.</h2>
          <p class="separator">Topics & Overview of what you'll get.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/paint-palette.svg" alt="img">
              <h4>creative design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/vector.svg" alt="img">
              <h4>Retina Ready</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/design-tool.svg" alt="img">
              <h4>easy to use</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/asteroid.svg" alt="img">
              <h4>Free Updates</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/asteroid.svg" alt="img">
              <h4>Free Updates</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/cloud-computing.svg" alt="img">
              <h4>App store support</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/pixel.svg" alt="img">
              <h4>Perfect Pixel</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="../static/img/svg/code.svg" alt="img">
              <h4>clean codes</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

        </div>
      </div>
    </section>
    ======== End Features Section ========
  -->

      <!-- ======= Pricing Section ======= -->
      <section id="courses" class="padd-section text-cente">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">

            <h2><b>Meet the Courses</b></h2>
            <p class="separator">We know it's awesome, thanks us later :)</p> 
            
          </div>
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <!-- each div inside here is in "row" since with class="row" with upper parent div.-->

            <!-- ######################### CARDS ########################-->
            <!-- #### CARD 1 ####-->
            <div class="card" >
              <div class="front" style="background-image:url('../static/img/courses/course1.jpg');">

              </div>
              <div class="back">
                <div>
                  <div class="title">
                    <strong>1. <br> CyberSecurity Practical Hands-on course </strong><br>
                    <p> Focusing on more learning to get things done rather than bogus theory. Learning by seeing 
                      how it's done & then doing it is the way for ever-fast CyberSecurity Space. 
                    </p>
                  </div>
                    <a href="{{ url_for('courses') }}" class="button" target="_blank">Learn NOW</a>
                </div>
              </div>
            </div>

            <!-- #### CARD 2 #### -->
            <div class="card" >
              <div class="front" style="background-image:url('../static/img/courses/course2.jpg');">

              </div>
              <div class="back">
                <div>
                  <div class="title">
                    <strong>2. <br> CyberSecurity latest tools & techniques. </strong><br>
                    <p> Those who are involved in technology knows the level of fast-paced change the 
                      industry goes through. Get the latest tools on your hands with guide to learning 
                      the techniques of what makes you a ready-cyberspecialist.
                    </p>
                  </div>

                    <a href="{{ url_for('courses') }}" class="button" target="_blank">Learn NOW</a>
                </div>
              </div>
            </div>

            <!-- ########################### CARDS ############################-->

          </div>
        </div>
      </section><!-- End Pricing Section -->

    <!--
 ======= Blog Section ======= 
<section id="blog" class="padd-sectio">

  <div class="container" data-aos="fade-up">
    <div class="section-title text-center">

      <h2>Latest posts</h2>
      <p class="separator">Integer cursus bibendum augue ac cursus .</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-md-6 col-lg-4">
        <div class="block-blog text-left">
          <a href="#"><img src="../static/img/blog/blog-image-1.jpg" alt="img"></a>
          <div class="content-blog">
            <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
            <span>05, juin 2017</span>
            <a class="float-end readmore" href="#">read more</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="block-blog text-left">
          <a href="#"><img src="../static/img/blog/blog-image-2.jpg" class="img-responsive" alt="img"></a>
          <div class="content-blog">
            <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
            <span>05, juin 2017</span>
            <a class="float-end readmore" href="#">read more</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="block-blog text-left">
          <a href="#"><img src="../static/img/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
          <div class="content-blog">
            <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
            <span>05, juin 2017</span>
            <a class="float-end readmore" href="#">read more</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> End Blog Section 
    
    

 ======= Newsletter Section ======= 
    <section id="newsletter" class="newsletter text-center">
      <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
              <form class="d-flex" method="POST" action="#">
                <input type="email" class="form-control " placeholder="Email Adress" name="email">
                <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
              </form>
            </div>
          </div>

          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
          </ul>

        </div>
      </div>
    </section>

     End Newsletter Section 
  -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="padd-section">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Connect with Us</h2>
          <p class="separator"></p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          
          <div class="col-lg-3 col-md-4">

            <div>
              <h2>EduSkillsAcademy</h2><br>
              <p>Learn to Lead...</p>
              <p></p>
            </div>

            <div class="info">
              <div class="email">
                <i class="bi bi-envelope"></i>
                <p>info@example.com</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-5 col-md-8">
              <img src='https://gif-free.com/uploads/posts/2017-03/1489914980_totoro-talking-the-phone.gif' width="401" height="401">
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#about">EduSkills Academy</a>
            <p>We're on a humble yet ambitious journey to specifically deliver the skills to students only what is required in the future with currently CyberSecurity as the major focus.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#courses">Courses</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a href="termsOfUse" target="_blank">Terms of Use</a></li>
              <li><a href="privacyPolicy" target="_blank">Privacy Policy</a></li>
            </ul>

          </div>
        </div>


        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <img src="../static/img/esa.png"> 

          </div>
        </div>

       

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights EduSkillsAcademy. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>