<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Learn with us... <!DOCTYPE html></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="utf-8">

        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="../static/img/favicon.png" rel="icon">
        <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="../static/vendor/aos/aos.css" rel="stylesheet">
        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="../static/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container mb-5">
            <div class="row shadow mt-4 p-4">

                <div class="col-lg-6">
                    <img src="../static/img/pay_page.gif" style='height: 100%; width: 100%; object-fit: contain'>
                </div>

                <div class="col-lg-6">
                    <!--JUGAAD to make EduSkillsAcademy consistent design of green & white color :) making a div
                        with same id="header" & id="logo" -->
                    <div id="header">
                        <div id="logo">
                          <h1><a href="#"><span>EduSkills</span>Academy</a></h1>
                        </div>
                    </div>
                    <P><strong>
                        Ever thought of how cool it would be to lock a computer by simply putting your USB in it.
                        This is just one skilled trick, there are many such with varities of guided lessons
                        and software being taught in a fun manner like you never did(seriously) and cutting out 
                        the unnecessary theory which isn't needed. Our courses- PRACTICAL & GUIDED ETHICAL HACKING 
                        SKILLS & TRICKS is one such awesome thing someone would never want to miss once they discover it.
                        Good Luck and happy Learning :)
                    </strong>
                    </P>
                    <button class="btn btn-success mt-2 btn-block">Continue</button>
                </div>

            </div>
        </div>
  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#about">EduSkills Academy</a>
            <p>We're on a humble yet ambitious journey to specifically deliver the skills to students only what is required in the future with currently CyberSecurity as the major focus.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#courses">Courses</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a href="termsOfUse" target="_blank">Terms of Use</a></li>
              <li><a href="privacyPolicy" target="_blank">Privacy Policy</a></li>
            </ul>

          </div>
        </div>


        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <img src="../static/img/esa.png"> 

          </div>
        </div>

       

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights EduSkillsAcademy. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->
        <script src="" async defer></script>
    </body>
</html>